<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%page args="organization" expression_filter="h"/>
<article class="course" id="${organization['id']}" role="region" aria-label="${organization['name']}">
  <a href="${reverse('about_organization', args=[organization['id']])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="/media/${organization['logo']}" alt="${organization['short_name']}" />
        <div class="learn-more" aria-hidden=true>${_("LEARN MORE")}</div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true" style="max-height:40px; background-color:#e4e4e4;">
      <h2 class="course-name">
        <span class="course-organization">${organization['name']}</span>
      </h2>
    </div>
  </a>
</article>
<!--
<div class="member-logo">
  <img src="${organization['logo']}" width="200" height="101"></img>
</div>
<div class="member-label">
  <span>${organization['name']}</span>
</div>-->
